<!-- importa o header -->
<%- include('../partials/header')  %>

<main style="height: 300px;">
    <div class="container">
        <div class="card">
            <form action="" method="post">
                <!-- Caixinha de nome -->
                <div>
                    <label for="nome"> Nome </label>
                    <input type="text" id="nome" name="nome">
                </div> 
                <!-- Caixinha de senha -->
                <div>
                    <label for="senha"> senha </label>
                    <input type="password" id="senha" name="senha">
                </div> 
            </form>
        </div>
    </div>
</main>

<!-- importa o footer -->
<%- include('../partials/footer')  %>