<!-- CONTEÚDO DA PÁGINA FINALIZA AQUI - PÓS MAIN -->
<footer class="footer-sistema">
    <p>TODOS OS DIREITOS RESERVADOS A MINHA PESSOA</p>
</footer>

<!-- IMPORTAÇÃO DO JS -->
    <script src="/js/script.js"></script>
</body>
</html>