<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TROCA APP</title>
    <!-- IMPORTAÇÃO DO CSS -->
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
 <header style="background-color: black; height: 300px; width: 100%;">
    <nav>
    </nav> 
 </header>