<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TROCA APP</title>
    <!-- IMPORTAÇÃO DO CSS -->
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
 <header class="header-sistema">
    <!-- Logo do site, na esquerda -->
     <a href="/">
     <img src="..." alt="logo" width="240" height="70">
</a>

<!-- Opções de menu, na direita -->
    <nav class="nav-menu">
    </nav> 
 </header>